doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Custom Object Table
        a(href="/update-cobj") Add to this table
        table
            tr
                th Name
                th Cuteness Level
                th Habitat
                th Should I Have One As A Pet
            each obj in customObjects
                tr
                    td= obj.properties.name
                    td= obj.properties.cuteness_level
                    td= obj.properties.habitat
                    td= obj.properties.should_i_have_one_as_a_pet
